@import 'fomantic-ui/dist/semantic.min.css';
@import 'datatables.net-se/css/dataTables.semanticui.min.css';

.ui.footer {
    /* Increased specificity for SO snippet priority */
    position: absolute;
    bottom: 0;
    width: 100%;
}

#myTable_wrapper{
    margin: 10px;
}





