@import 'fomantic-ui/dist/semantic.min.css';


.ui.footer {
    /* Increased specificity for SO snippet priority */
    position: absolute;
    bottom: 0;
    width: 100%;
}

#main{
    padding-top: 5%;
}

.sidebar.visible+.pusher {
    width: calc(100% - 84px);
}
